@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0:#f9aa00;
    --cor1:#fbca04;
    --cor2:#ffea00;
    --cor3:#ed4b00;
    --cor4:#00e1ed;

    --font-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body {
    background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}