@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');
@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


:root {
    --color0: #F3720A;
    --color1:#f9aa00;
    --color3:#fbca04;
    --color4:#ffea00;
    --color5:#ed4b00;
    --color6:#00e1ed;

    --font-impacto: 'Rubik', sans-serif;
    --font-voll: 'Vollkorn', serif;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body {
    background-color: black;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}